<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.dao.OrderMapper">

    <select id="selectById" resultType="com.hotel.entity.Order">
        select oid orderId, uid userId, rid roomId, days liveDays from `order` where oid = #{id}
    </select>

    <select id="selectAll" resultType="com.hotel.entity.Order">
        select oid orderId, uid userId, rid roomId, days liveDays from `order`
    </select>

    <select id="selectByRoomId" resultType="com.hotel.entity.Order">
        select oid orderId, uid userId, rid roomId, days liveDays from `order` where rid = #{roomId}
    </select>

    <select id="selectByUserId" resultType="com.hotel.entity.Order">
        select oid orderId, uid userId, rid roomId, days liveDays from `order` where uid = #{userId}
    </select>

    <update id="update">
        update `order` set rid = #{roomId}, days = #{liveDays} where oid = #{orderId}
    </update>

    <insert id="addOrder">
        insert into `order`(uid, rid, days) values(#{userId}, #{roomId}, #{liveDays})
    </insert>

    <delete id="delete">
        delete from `order` where oid = #{orderId}
    </delete>
</mapper>